:root{
  --rolling-stone: #6F7577;
  --horizon: #548EAA;
  --mine-shaft: #333;
  --mountain-mist: #909090;
  --gull-gray: #929CA5;
  --desert-storm: #F7F7F7;
  --gull-gray-rgb: 146, 156, 165;
  --romance: #FFF;
}