@font-face {
  font-family: "TypeMates";
  font-display: swap;
  src: url("./fonts/TypeMatesCeraRoundProBold.woff") format("woff"), url("./fonts/TypeMatesCeraRoundProBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TypeMates";
  font-display: swap;
  src: url("./fonts/TypeMatesCeraRoundProRegular.woff") format("woff"), url("./fonts/TypeMatesCeraRoundProRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@import './icons.scss';
@import './light.scss';
@import './variables.scss';


* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  outline: none;
  text-decoration: none;
  font-family: TypeMates,
  sans-serif !important;
  text-decoration: none;
  color:#000;
}

a:hover{
  color: var(--horizon);
}

body{
  overflow-y: scroll;
  background:#f0f0f0;
}

.page{
  min-height: 100vh;
  margin-top: 15px;

  @media(max-width: 768px) {
    margin-top: 0;
  }
}

.container {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: inherit;

  @media(max-width: 1024px) {
    max-width: 768px;
  }

  @media(max-width: 768px) {
    max-width: 100%; 
    padding: 0; 
  }
}

.sidebar {
  margin-left: 15px;
  flex:340px 0;
   
  @media(max-width: 1024px) {
    display: none;
  }
}








