.header {
  background: var(--romance);
  border-bottom: 1px solid #ccc;

  &__top {
    background: var(--limed-spruce);
  }
}

.media {
  &__nav {
    display: block;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__controls-top {
    display: none;

    @media (max-width: 1024px) {
      display: block;
    }
  }

  &__controls-bottom {
    display: block;

    @media (max-width: 1024px) {
      display: none;
    }
  }
}

.logo {
  color: #fff;
  font-weight: 700;
  font-size: 26px;
  line-height: 48px;

  @media (max-width: 768px) {
    margin-right: auto;
    margin-left: 10px;
  }
}

.topInfo {
  display: flex;
  align-items: center;

  a {
    svg {
      width: 20px;
      height: 20px;
    }

    margin-right: 15px;
  }

  svg {
    width: 24px;
    height: 24px;
    fill: #929ca5;
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 768px) {
    padding: 0 15px;
  }
}

.burger {
  width: 18px;
  height: 14px;
  position: relative;
  display: none;

  span {
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--mine-shaft);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background: var(--mine-shaft);
      top: 5px;
      left: 0;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background: var(--mine-shaft);
      bottom: 5px;
      left: 0;
    }
  }

  @media (max-width: 768px) {
    display: block;
  }
}
