.wrapper {
  min-width: 460px;
  max-width: 460px;
  margin: 0 auto;

  @media(max-width:500px) {
    min-width: 100%;
    max-width: 100%;
  }
}

.form {
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
  background: var(--romance);
  padding: 40px;
  margin-bottom: 15px;
  border-radius: 4px;

  &__title {
    margin-bottom: 50px;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__label {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 16px;
    color: var(--mine-shaft);
    ;
    font-size: 14px;
    font-family: "-apple-system",
      BlinkMacSystemFont,
      Arial,
      sans-serif;
    font-weight: 700;
    display: inline-block;
    vertical-align: baseline;
  }

  &__input {
    width: 100%;
    margin-top: 12px;
    height: 40px;
    background: var(--romance);
    border: 1px solid #dbdbdb;
    padding: 0 14px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: "-apple-system", BlinkMacSystemFont, Arial, sans-serif;
    color: var(--mine-shaft);
    ;
  }

  &__submit {
    padding: 0 16px;
    border-radius: 3px;
    border: 0;
    height: 40px;
    line-height: 15px;
    color: var(--romance);
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    background-color: var(--horizon);

    &_disabled {
      background-color: var(--horizon);
      opacity: .5;
      cursor: not-allowed;
    }
  }
}

.login {
  padding: 15px 0;
  text-align: center;
  background: var(--romance);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
  border-radius: 4px;

  a {
    text-decoration: none;
    color: var(--horizon);
  }
}