.wrapper {
  min-width: 460px;
  max-width: 460px;
  margin: 0 auto;

  @media (max-width: 500px) {
    min-width: 100%;
    max-width: 100%;
  }
}

.register {
  padding: 15px 0;
  text-align: center;
  background: var(--romance);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
  border-radius: 4px;

  span {
    color: var(--mine-shaft);
  }

  a {
    text-decoration: none;
    color: var(--horizon);
  }
}
