.wrapper {
  flex: 1 1;
  position: relative;

  &__top {
    border: 1px solid var(--horizon);
    margin-bottom: 15px;
    padding: 15px 10px;
    background: linear-gradient(0deg, rgba(var(--horizon-rgb), .12) 0, rgba(var(--horizon-rgb), .12) 100%),
    var(--romance);
  }

  &__saved{
    font-weight: 700;
    color: var(--mine-shaft);
    cursor: pointer;

    span{
      color: var(--horizon);
      text-decoration: none;
    }
  }

  &__bottom {
    padding: 15px;
    background: var(--romance);
  }
}

.form {
  width: 100%;

  input {
    width: 100%;
    font-size: 28px;
    font-weight: 700;
    border: 0;
    margin-bottom: 25px;
    color: var(--mine-shaft, #343434);
    background: transparent;

    &::placeholder {
      color: var(--mine-shaft, #343434);
      font-size: 28px;
    }
  }
}

.content {
  position: relative;
  padding-bottom: 25px;
  padding-left: 20px;
}

.editor{
  *{
    color:var(--mine-shaft);
  }
}

.buttons {
  display: flex;
}

.toolbar {
  font-size: 12px;
}

.next {
  background-color: var(--romance);
  border: 1px solid #c0c0c0;
  color: var(--mountain-mist);
  height: 32px;
  padding: 8px 14px;
  border-radius: 3px;
  font-size: 0.8125rem;

  &_active {
    background-color: var(--horizon);
    border-color: var(--horizon);
    color: var(--romance);
  }

  &_disable {
    border-color: rgba(var(--gull-gray-rgb), 0.4);
    color: var(--rolling-stone);
    cursor: not-allowed;
  }
}
