.navigation {
  margin: 0 -15px;

  &__top {
    padding: 0 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
  }

  &__item {
    margin-right: 24px;
    font-size: .875rem;
    font-weight: 500;
    letter-spacing: .05rem;
    line-height: 1rem;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    padding-bottom: 13px;
    text-transform: uppercase;
    color: #6f7577;
    font-weight: 700;

    &_active {
      border-bottom: 2px solid #4d80aa;
      color: #4d80aa;
    }

    @media(max-width:768px) {
      margin-top: 15px;
    }
  }
}

.menu {
  position: relative;

  &__item {
    padding: 10px 15px 15px 15px;
    cursor: pointer;
  }
}

.popup {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  background: #fff;
  box-shadow: 0 0 15px 3px #ccc;
  border-radius: 5px;
  padding: 5px 0;

  &__item {
    padding: 12px 20px;
    font-size: .8125rem;
    display: block;

    &:hover {
      background: #EFF6FA;
    }

    &_active {
      color: #548EAA;
    }
  }
}