.content {
  padding: 15px;
  background: var(--romance);
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--mine-shaft);
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.name {
  font-size: 0.8125rem;
  line-height: 1.5rem;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--romance);
  border-bottom: 0.6px solid #ccc;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item {
    text-align: right;
    width: var(--user-stats);
    font-size: .8125rem;
    line-height: 1.5rem;

    @media(max-width:500px) {
      width: 50px;
    }
  }
}
