.header {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;

  .user__icon_user {
    border-color: var(--horizon);
    margin-right: 12px;

    svg {
      color: var(--horizon);
    }
  }

  span {
    font-weight: 700;
    color: var(--horizon);
    display: block;
    font-size: 0.8125rem;
    line-height: 0.9375rem;
    text-decoration: none;
  }
}

.icon {
  margin-right: 12px;
  cursor: pointer;

  svg {
    color: #929ca5;
    fill: transparent;
    width: 24px !important;
    height: 24px !important;
  }

  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 3px;
  border: 2px solid #929ca5;
  border-radius: 4px;
}

.list {
  list-style: none;

  li {
    display: flex;
    align-items: center;
    cursor: pointer;

    svg {
      width: 25px;
      height: 25px;
      margin-right: 12px;
    }

    &:hover {
      background: var(--aqua-haze);
      opacity: 1;
      color: var(--horizon);
    }

    a {
      color: var(--mine-shaft);
      display: flex;
      font-size: 1rem;
      font-weight: 500;
      height: 48px;
      line-height: 3rem;
      padding: 0 20px;
      text-decoration: none;
      white-space: nowrap;
      width: 100%;
      box-sizing: border-box;
      position: relative;
      align-items: center;
    }
  }

  &__settings{
    height: 48px;
    line-height: 3rem;
    padding: 0 20px;
    display: flex;
    align-items: center;
    color: var(--mine-shaft);
    font-size: 1rem;
    font-weight: 500;
  }
}
