.sidebar {
  flex: 1;
  background: var(--romance);
  padding: 15px;
  margin-bottom: 15px;
  
  @media(max-width:1024px) {
    display: none;
  }
}

.title {
  font-size: .8125rem;
  letter-spacing: .0625rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--rolling-stone);
  font-family: Fira Sans,
    sans-serif;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.stats {
  padding: 15px 0;
  list-style: none;

  @media(max-width:1024px) {
    padding-bottom: 0;
  }

  &__li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item {
    width: 50%;
    color: var(--mine-shaft);
    ;
    font-size: .8125rem;
    line-height: 1rem;

    &:first-child {
      font-weight: 700;
    }
  }
}