.page {
  background: #f0f0f0;
  min-height: 100vh;
  padding: 15px 0;
}

.wrapper {
  padding: 15px;
  background: var(--romance);
}

.header {
  color: var(--mine-shaft);
  font-size: 1.24375rem;
  font-weight: 700;
  line-height: 1.75rem;
  margin: 0;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 20px;
}

.form {
  &__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__btn {
    border: none;
    color: #fff;
    height: 32px;
    border-radius: 3px;
    font-size: 13px;
    padding: 0 14px;
    cursor: pointer;
    margin-bottom: 15px;

    @media (max-width: 768px) {
      width: 100%;
    }

    &_submit {
      background-color: #7aa600;
    }

    &_sendEmail {
      background: #2edbdb;
      color: #000;
      font-weight: 600;
      margin-right: auto;
      margin-left: 15px;
      @media (max-width: 768px) {
        margin-left: 0;
      }
    }

    &_delete {
      background-color: #ec3030;
    }

    &_active {
      opacity: 1;
    }

    &_disable {
      opacity: 0.7;
      cursor: not-allowed;
    }
  }
}

.top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__inputs {
    width: 50%;

    @media (max-width: 1024px) {
      width: 100%;
      order: 1;
    }
  }
}

.inpitItem {
  label {
    color: var(--mine-shaft);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
    display: block;
    margin: 0 0 12px;
    line-height: 16px;
  }

  input {
    background: transparent;
    border-radius: 3px;
    display: block;
    margin: 0;
    padding: 0 14px;
    width: 100%;
    height: 40px;
    border: 1px solid #d5dddf;
    font-size: 14px;
    line-height: 1.5;
    color: var(--mine-shaft);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
  }

  p {
    font-size: 12px;
    line-height: 18px;
    margin: 9px 0 0;
    padding: 0;
    color: var(--mountain-mist, #777);
  }

  margin-bottom: 40px;
}

.row {
  display: flex;
  align-items: flex-end;

  @media (max-width: 1024px) {
    flex-wrap: wrap;
  }
}

.select {
  width: 25%;
  margin-right: 15px;
  margin-bottom: 40px;

  @media (max-width: 1024px) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }

  &:last-child {
    margin-right: 0;
  }

  &__label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 12px;
    line-height: 16px;
    color: var(--mine-shaft);
  }

  &__date {
    width: 100%;

    input {
      width: 100%;
      display: block;
      font-size: 14px;
      min-height: 38px;
      padding: 2px 8px;
    }
  }
}
