.btn {
  border-radius: 3px;
  font-size: 0.8125rem;
  height: 32px;
  padding: 8px 14px;
  border-color: var(--horizon);
  background-color: var(--horizon);
  color: var(--romance);
  border: none;
  cursor: pointer;

  &:hover {
    color: var(--romance);
  }
}

.settings{
  margin-right: 12px;

  svg {
    cursor: pointer;
    width: 25px;
    height: 25px;
    stroke: var(--gull-gray);
  }
}
