.btn{
  border-radius: 3px;
  font-size: .8125rem;
  height: 32px;
  padding: 8px 14px;
  border-color: var(--horizon, #548eaa);
  background-color: var(--horizon, #548eaa);
  color: var(--romance, #fff);
  border:none;
  cursor: pointer;
}