.btn{
  border-radius: 3px;
  font-size: .8125rem;
  height: 32px;
  padding: 8px 14px;
  border-color: var(--horizon);
  background-color: var(--horizon);
  color: var(--romance);
  border:none;
  cursor: pointer;

  &:hover{
    color: var(--romance);
  }
}