.top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 15px;
  border-bottom:0.6px solid #ccc;
}

.name{
  color:#548eaa;
  font-size: .8125rem;
  line-height: 1.5rem;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item {
    text-align: right;
    width: var(--user-stats);
    font-size: .8125rem;
    line-height: 1.5rem;
  }
}

.list{
  background: #fff;
  padding: 15px;
  margin-bottom: 15px;
}