.modal {
  position: fixed;
  bottom: 50px;
  right: -500px;
  transition: right 0.3s;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 13px;
  z-index: 1000;

  &_good {
    background: #72df0d;
    color: #000000;
  }

  &_bad {
    color: #fff;
    background: #e67777;
  }

  &_active {
    right: 50px;
    transition: right 0.3s;
  }
}
