.nav {
  display: flex;
  align-items: center;

  &__link {
    height: 56px;
    cursor: pointer;
    font-weight: 500;
    color: var(--mountain-mist);
    font-size: 0.875rem;
    line-height: 1rem;
    margin-right: 15px;

    display: flex;
    align-items: center;

    &_active {
      color: var(--mine-shaft);
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}
