.comment {
  padding: 15px;
  margin-bottom: 15px;
  background: var(--romance);

  &__title {
    display: inline-block;
    width: 100%;
    color: var(--mine-shaft);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.625rem;
    text-decoration: none;

    border-bottom: 1px solid rgba(var(--gull-gray-rgb), 0.4);
    box-sizing: border-box;
    padding: 0 0 16px;
    margin: 0 0 16px;
  }

  &__date {
    line-height: 0.6875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--mountain-mist);
    text-decoration: none;
    font-size: 0.75rem;
  }

  &__content {
    font-size: 0.9375rem;
    line-height: 1.375rem;
    margin: 0;
    margin-bottom: 15px;
  }

  &__watch {
    color: var(--horizon);

    &:hover {
      color: #39728e;
    }
  }
}

.user {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  span {
    display: flex;
    align-items: center;
  }

  &__img {
    margin-right: 10px;
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  &__nickname {
    font-size: 0.8125rem;
    font-weight: 700;
    line-height: 0.9375rem;
    text-decoration: none;
    margin-right: 7px;
  }
}
