.item {
  width: 100%;
  background: var(--romance);
  margin-bottom: 12px;
  padding: 16px 20px;

  &__header {
    display: flex;
    align-items: center;
  }

  &__authorImg {
    width: 24px;
    height: 24px;
    position: relative;
    margin-right: 8px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  &__authorName {
    color: var(--mine-shaft);
    font-size: 0.8125rem;
    font-weight: 700;
    line-height: 0.9375rem;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 10px;
  }

  &__date {
    color: #777;
    display: inline-block;
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 0.9375rem;
  }

  &__title {
    font-size: 1.25rem;
    font-weight: inherit;
    line-height: 1.3;
    color: var(--mine-shaft);
    font-weight: 700;
    cursor: pointer;
    transition: color 0.3s;
    word-break: break-all;

    &:hover {
      color: var(--horizon);
    }
  }

  &__habs {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    flex-wrap: wrap;

    a {
      color: var(--rolling-stone);
      margin-right: 10px;
      font-size: 0.8125rem;
      font-weight: 500;
      line-height: 1.5rem;

      &:hover {
        color: var(--horizon);
      }
    }
  }

  &__img {
    width: 100%;
    position: relative;
    height: 400px;
    margin-bottom: 12px;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
    }

    @media (max-width: 550px) {
      height: 250px;
    }
  }

  &__text {
    font-size: 1rem;
    line-height: 1.5rem;
    max-height: 150px;
    overflow: hidden;
    word-break: break-all;
    * {
      color: var(--mine-shaft) !important;
    }
  }

  &__link {
    background-color: transparent;
    border: 1px solid #75aeca;
    border-radius: 3px;
    color: var(--horizon);
    cursor: pointer;
    display: inline-block;
    font-size: 0.8125rem;
    height: 36px;
    line-height: 2.25rem;
    margin-top: 18px;
    padding: 0 13px;
    text-decoration: none;

    &:hover {
      background-color: #7aa1bd;
      border: 1px solid transparent;
      color: var(--romance);
    }
  }

  &__footerItem {
    display: flex;
    align-items: center;
    margin-right: 25px;
    cursor: pointer;

    svg {
      margin-right: 5px;
      fill: #bdcdd6;
    }

    span {
      color: #bdcdd6;
      font-size: 0.8125rem;
    }

    &_active {
      svg {
        fill: #fe7d7d;
      }
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;

  &__left {
    display: flex;
    align-items: center;
  }

  &__right {
    position: relative;
  }
}

.controls {
  position: relative;

  &__icon {
    cursor: pointer;

    svg {
      width: 30px;
      height: 30px;

      path {
        stroke: var(--mine-shaft);
      }
    }
  }
}

.popup {
  position: absolute;
  top: 100%;
  right: 0;
  box-shadow: 0 0 12px rgba(var(--asphalt-rgb), 0.16);
  background: var(--romance);

  ul {
    display: flex;
    flex-direction: column;

    li {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      position: relative;
      cursor: pointer;

      svg {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        width: 17px;
        height: 17px;

        path {
          stroke: var(--mine-shaft);
        }
      }

      span {
        margin-left: 25px;
        color: var(--mine-shaft);
        font-size: 0.8125rem;
        font-weight: 700;
        line-height: 0.9375rem;
      }

      &:hover {
        background: rgba(var(--gull-gray-rgb, 146, 156, 165), 0.4);
        color: var(--horizon);

        svg {
          transition: all, 0.3s;
          transform: translateY(-50%) scale(1.1);
        }
      }
    }
  }
}
