.right {
  display: flex;
  align-items: center;

  &__search {
    margin-right: 12px;

    svg {
      g,
      path {
        stroke: var(--gull-gray);
      }

      width: 22px;
      height: 22px;
    }
  }
}

