.wrapper {
  width: 100%;
  background: var(--romance);
  margin-bottom: 16px;
}

.title {
  padding: 14px 20px;
  color: var(--mine-shaft);;
  font-size: 1.24375rem;
  font-weight: 700;
  line-height: 1.75rem;
  margin: 0;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category {
  display: flex;
  align-items: center;
  padding: 0 15px;
  margin-top: 16px;
  border-bottom: 1px solid #ccc;

  &__item {
    margin-right: 24px;

    font-size: .875rem;
    font-weight: 500;
    letter-spacing: .05rem;
    line-height: 1rem;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    padding-bottom: 13px;
    text-transform: uppercase;
    color: var(--rolling-stone);
    font-weight: 700;

    &_active {
      border-bottom: 2px solid var(--horizon);
      color: var(--horizon);
    }
  }
}

.filter {
  padding: 14px 20px;
  font-size: 16px;
}

.search {
  padding: 15px;

  &__form {
    position: relative;
  }

  &__input {
    width: 100%;
    background: var(--romance);
    border: 1px solid #d5dddf;
    border-radius: 3px;
    box-sizing: border-box;
    flex: 1;
    line-height: 2.5rem;
    margin: 0;
    min-height: 40px;
    padding: 0 14px;
  }

  &__btn {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;

    svg {
      width: 20px;
      height: 20px;
      fill: #929ca5;
    }
  }
}